.block-message.akert-message.info
  %a.close{href: '#'} ×
  %p
    %strong= message.sender
    %br/
    = message.body
  .alert-actions
    = link_to 'Reply', '#', class: 'btn small'
    = link_to 'Delete', '#', class: 'btn small'